<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eigen" version="3.3.3" targetFramework="native" />
  <package id="libmikroxml" version="0.1.7" targetFramework="native" />
  <package id="libpapki" version="1.0.47" targetFramework="native" />
  <package id="libsvgdom" version="0.3.20" targetFramework="native" />
  <package id="libunikod" version="2.0.23" targetFramework="native" />
  <package id="libutki" version="1.1.17" targetFramework="native" />
</packages>